<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>imageURLs</key>
	<array>
	  <string>https://secure.meetupstatic.com/photos/member/3/5/0/3/member_270013571.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/d/1/8/0/member_33533632.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/9/5/4/c/member_274058220.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/8/d/8/5/member_271776229.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/6/9/7/0/member_88046992.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/6/9/1/9/member_273926905.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/6/2/1/a/member_260785114.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/b/7/4/9/member_272926921.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/9/e/8/a/member_251620586.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/d/b/2/6/member_49136102.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/9/0/6/3/member_258216963.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/6/3/b/3/member_256585523.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/3/8/3/4/member_267494388.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/4/a/2/f/member_249258991.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/3/0/e/b/member_262692523.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/3/5/3/9/member_257413625.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/9/2/e/6/member_265357606.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/5/f/a/e/member_270024494.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/4/b/5/4/member_266179284.jpeg</string>
	  <string>https://secure.meetupstatic.com/photos/member/4/9/d/4/member_263298900.jpeg</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
